# Environment
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo
